{% extends "base.html" %}

{% block title %}Se connecter{% endblock %}

{% block content %}
  <h1>Se connecter</h1>
  <div class="module">
    {% if form.errors %}
      <p>Votre username et votre mot de passe ne correspondent pas. Réessayez.</p>
    {% else %}
      <p>Connectez-vous:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Se connecter"></p>
      </form>
    </div>
  </div>
{% endblock %}
