<!-- templates/home/index.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Index{% endblock title %}

{% block content %}
    <h1>LML Events</h1>
    <p>LML Events : C’est quoi ?</p>
    <p>Nous sommes une association d'événementiel gaming et esport créée par trois passionnés : Léo, Maël et Léa. Notre but est de continuer à développer et populariser l'esport en proposant des événements innovants pour les joueurs et les spectateurs. À long terme, nous souhaitons produire nos propres événements pour continuer de faire rêver les passionnés.</p>
    <p>Nous prenons énormément en compte les retours de la communauté pour créer des événements uniques et mémorables. Mettre les joueurs et les spectateurs dans les meilleures conditions est notre priorité absolue. Rejoignez-nous dans notre mission pour faire briller l'esport !</p>
{% endblock content %}
