{% extends "base.html" %}

{% block title %}
  {% if object %}
    Modifier "{{ object.title }}"
  {% else %}
    Créer une actualité
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Modifier "{{ object.title }}"
    {% else %}
      Créer une actualité
    {% endif %}
  </h1>
  <div class="module">
    <h2>Actualité</h2>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Sauvegarder"></p>
    </form>
  </div>
{% endblock %}
