{% extends "base.html" %}

{% block title %}Actualités{% endblock %}

{% block content %}
  <h1>Actualités</h1>
  <div class="module">
    {% for news in object_list %}
      <div class="news-info">
        <h3>{{ news.title }}</h3>
        <p>
          <a href="{% url 'news:news_edit' news.id %}">Modifier</a> |
          <a href="{% url 'news:news_delete' news.id %}">Supprimer</a> 
          {% if news.modules.count > 0 %}
            | <a href="{% url 'news:module_content_list' news.modules.first.id %}">
            Gérer le contenu</a>
          {% endif %}
        </p>
      </div>
    {% empty %}
      <p>Aucune actualité n'est encore parue.</p>
    {% endfor %}
    <p>
      <a href="{% url 'news:news_create' %}" class="button">Créer une actualité</a>
    </p>
  </div>
{% endblock %}
