{% load static %}

{% block footer %}
  <div class="mt-5 pt-5 pb-5 footer d-flex flex-column">
    <div class="footer-block-1 d-flex flex-row justify-content-around align-items-center">
      <div class="footer-title d-flex flex-column justify-content-center align-items-center">  
        <h2><strong>LML Events</strong></h2>
        <p class="pr-5 text-white-50">Plongez dans une nouvelle réalité !</p>
      </div>
      <div class="d-flex footer-social justify-content-around align-items-center flex-column">
        <h3>Nous suivre:</h3>
        <p>
          <a href="https://www.linkedin.com/in/lml-events/"><i class="fab fa-linkedin-in fa-xl"></i></a>
          <a href="https://discord.com/channels/@me/1072852473196314697/1107936011645886535"><i class="fab fa-facebook fa-xl"></i></a>
          <a href="https://twitter.com/lmlevents49/"><i class="fab fa-twitter fa-xl"></i></a>
          <a href="https://instagram.com/lmlevents49?igshid=NTc4MTIwNjQ2YQ=="><i class="fab fa-instagram fa-xl"></i></a>
          <a href="#"><i class="fab fa-twitch fa-xl"></i></a>
          <a href="#"><i class="fab fa-tiktok fa-xl"></i></a>
          <a href="#"><i class="fab fa-youtube fa-xl"></i></a>
        </p>
      </div>
    </div>

    <div class="footer-block-2 d-flex flex-row justify-content-around align-items-stretch mt-3">
      <div class="f-menu">
        <h4 class="f-menu-title">Liens</h4>
          <ul class="m-0 p-0 f-menu-list list-unstyled">
            <li><a class="f-link" href="{% url 'pages:rgpd' %}">RGPD</a></li>
            <li><a class="f-link" href="{% url 'pages:cgu' %}">CGU</a></li>
            <li><a class="f-link" href="{% url 'pages:cgv' %}">CGV</a></li>
            <li><a class="f-link" href="{% url 'pages:mentions' %}">Mentions légales</a></li>
            <li><a class="f-link" href="{% url 'pages:partners' %}">Partenaires</a></li>
          </ul>
      </div>
      <div class="location">
        <h4 class="f-menu-loc">Localisation</h4>
        <p>Centre Pierre Cointreau CCI</p>
        <p>132 Avenue de Lattre de Tassigny</p>
        <p>49000 Angers</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>  (+33)7 77 77 71 45</p>
        <p class="mb-0"><i class="fa-regular fa-paper-plane mr-3"></i><a href="mailto:contact.lmlevents49@gmail.com">  contact</a></p>
      </div>
    </div>

    <div class="footer-block-3 d-flex flex-row">
      <div class="col copyright">
        <p><small class="text-white-50">© {% now "Y" %}. All Rights Reserved. Version {{ APP_VERSION_NUMBER }}.</small></p>
      </div>
    </div>
  </div>
{% endblock footer %}
