{% extends 'users/base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block extend_nav %}

<ul class="sidenav">
  <li><a class="active" href="{% url 'users:account' %}">Compte utilisateur</a></li>
  <li><a href="{% url 'users:sign-out' %}">Déconnexion</a></li>
  <li><a href="{% url 'shop:product_list' %}">Boutique</a></li>
</ul>

{% endblock %}


{% block content %}

<h3>Profil utilisateur</h3>

<div class="container">

  <h4>Détail du compte utilisateur</h4>
  <table>
    <thead>
      <tr>
        <th>Champ</th>
        <th>Valeur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Username</td>

        {% if request.user.userprofile.email_verified %}
          <td>{{request.user.username}} <b style="color:green">(vérifié)</b></td>
        {% else %}
          <td>{{request.user.username}} <a href="javascript:void(0)" onclick="EmailVerification()"><b style="color:red">(à vérifier)</b></a></td>
        {% endif %}
 
      </tr>
      <tr>
        <td>Nom</td>
        <td>{{request.user.first_name}} {{request.user.last_name}}</td>      
      </tr>
      <tr>
        <td>Téléphone</td>
        <td>{{request.user.userprofile.telephone}}</td>      
      </tr>
      <tr>
        <td>Addresse</td>
        <td>
          <address>
            {{request.user.userprofile.address}}<br>
            {{request.user.userprofile.town}}<br>
            {{request.user.userprofile.county}}<br>
            {{request.user.userprofile.post_code}}<br>
          </address>
        </td>      
      </tr>

      {% if request.user.userprofile.two_step_active %}
      <tr>
        <td id="2-step-term">Désactiver la double authentification</td>
        <td>  
          <label class="switch">
            <input id="2-step-toggle" type="checkbox" checked>
            <span class="slider round" onclick="Toggle()"></span>
          </label>
        </td>     
      </tr>
      {% else %}
      <tr>
        <td id="2-step-term">Activer la double authentification</td>
        <td>  
          <label class="switch">
            <input id="2-step-toggle" type="checkbox">
            <span class="slider round" onclick="Toggle()"></span>
          </label>
        </td>       
      </tr>
      {% endif %}


    </tbody>
  </table>

  <br>
  <h4>Historique des factures</h4>

  <table>
    <thead>
      <tr>
        <th>Factures</th>
        <th>Total € TTC</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        <tr>
          <td><a href="{% url 'orders:order_pdf' invoice.pk %}">{{ invoice }}</a></td>
          <td>{{ invoice.get_total_cost }}</td>
          {% if invoice.paid %}
            <td>Payée</td>
          {% else %}
            <td><a href="{% url 'orders:order_detail' invoice.pk %}">Impayée</a></td>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {% endfor %}
 
    </tbody>
  </table>
  {% comment %} <br />
  <h4>Bons de réduction</h4> {% endcomment %}
  {% comment %} <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Réductions</th>
        <th>Début de validité</th>
        <th>Fin de validité</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        {% for coupon in coupons %}
          <td>{{ coupon }}</td>
          <td>{{ coupon.discount }}</td>
          <td>{{ coupon.valid_from }}</td>
          <td>{{ coupon.valid_to }}</td>
          {% if coupon.active %}
            <td>Actif</td>
          {% else %}
            <td>Inactif</td>
          {% endif %}
        {% empty %}
          <td></td>
          <td></td>
          <td></td>
        {% endfor %}
 
      </tr>
    </tbody>
  </table> {% endcomment %}



</div>

<!-- This handels the verified url param & displays a success alert-->
<script type="text/javascript">
  let ver = "{{ verified|safe }}";
  if (ver == "true"){
    alert("Merci, votre email a été vérifié.");
  }
</script>

{% endblock %}

{% block extend_footer %}

{% endblock %}